.teal {
    background-color: #227C70 !important;
}

.blue {
    background-color: #1C315E !important;
    color: white !important;
}

.green {
    background-color: #88A47C !important;
}

.beige {
    background-color: #E6E2C3 !important;
    color: black !important;
}