{% extends "root.html" %}

{% block title %} Account {% endblock %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id='emailForm' tabindex="-1" aria-labelledby="changeEmailModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content"> 
      <div class="modal-header">
        <h5 class="modal-title" id="changeEmailModalLabel">Change Email</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="card-body" method="post" action="{{url_for('change_email')}}">
          {{ form.hidden_tag() }}
          {{ form.email.label }}
          {{ form.email() }}
          {{ form.submit() }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div id="account">
  <p>{{current_user.username}}</p>
  <p>{{current_user.email}}</p>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#emailForm">
    Change Email
  </button>
  <a class="btn btn-danger" id="sign-out" href="{{url_for('get_logout')}}">Sign out</a>
</div>

{% endblock %}