{% extends "root.html" %}

{% block title %}Home{% endblock %}
{% block seo %}
<meta name="description" content="Create a Minecraft Server any of your friends can join with full customizability!">
<meta name="author" content="Ethan Brown">
{% endblock %}
{% block head %}
  <script src="/static/scripts/home.js"></script>
{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Minecraft Server Hosting</h1>
    <!-- <p>Search for servers others have hosted here, or start one yourself!</p> -->
  </div>
</div>

<div class="teal row rounded-1">
  <div class="jumbotron">
    <div class="container py-2">
      <h1 class="display-4 text-center">Why Us</h1>
      <!-- <hr class="my-3"> -->
      <div class="row lead" id="reasons">
        <div class="d-none d-md-block col-6">
          <ul>
            <li>Cheap</li>
            <li>Fast</li>
            <li>Easy</li>
          </ul>
        </div>
        <div class="d-none d-md-block col-6">
          <ul>
            <li>On Your Schedule</li>
            <li>Custom Server Roles</li>
            <li>No Built-In Cash Shop</li>
          </ul>
        </div>
        <div class="d-md-none col-12">
          <ul>
            <li>Cheap</li>
            <li>Fast</li>
            <li>Easy</li>
            <li>On Your Schedule</li>
            <li>Custom Server Roles</li>
            <li>No Built-In Cash Shop</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="border blue container mt-4 rounded-1">
  <p class="p-3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatibus vitae pariatur ex blanditiis? Qui dolore voluptatibus sunt facere animi, facilis possimus, atque maiores earum in ullam vel debitis a!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatibus vitae pariatur ex blanditiis? Qui dolore voluptatibus sunt facere animi, facilis possimus, atque maiores earum in ullam vel debitis a!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatibus vitae pariatur ex blanditiis? Qui dolore voluptatibus sunt facere animi, facilis possimus, atque maiores earum in ullam vel debitis a!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatibus vitae pariatur ex blanditiis? Qui dolore voluptatibus sunt facere animi, facilis possimus, atque maiores earum in ullam vel debitis a!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatibus vitae pariatur ex blanditiis? Qui dolore voluptatibus sunt facere animi, facilis possimus, atque maiores earum in ullam vel debitis a!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatibus vitae pariatur ex blanditiis? Qui dolore voluptatibus sunt facere animi, facilis possimus, atque maiores earum in ullam vel debitis a!
  </p>
  <p class="text-center">
    {% if current_user.is_authenticated %}
    <a class='btn btn-lg active green' role="button" aria-pressed="true" href="/servers/create/">Create a Server</a>
    {% else %}
    <a class='btn btn-lg active green' role="button" aria-pressed="true" href="/register/">Get Started</a>
    {% endif %}
  </p>
</div>
{% endblock %}