{% extends "root.html" %}

{% block title %}Home{% endblock %}
{% block head %}
  <script src="/static/scripts/home.js"></script>
{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Minecraft Server Hosting</h1>
    <!-- <p>Search for servers others have hosted here, or start one yourself!</p> -->
  </div>
</div>

<div class="teal row rounded-1">
  <div class="jumbotron">
    <div class="container py-2">
      <h1 class="display-4 text-center">Why Us</h1>
      <!-- <hr class="my-3"> -->
      <div class="row lead" id="reasons">
        <div class="d-none d-md-block col-6">
          <ul>
            <li>Cheap</li>
            <li>Fast</li>
            <li>Easy</li>
            <li>On Your Schedule</li>
          </ul>
        </div>
        <div class="d-none d-md-block col-6">
          <ul>
            <li>Custom Server Roles</li>
            <li>No Built-In Cash Shop</li>
          </ul>
        </div>
        <div class="d-md-none col-12">
          <ul>
            <li>Cheap</li>
            <li>Fast</li>
            <li>Easy</li>
            <li>On Your Schedule</li>
            <li>Custom Server Roles</li>
            <li>No Built-In Cash Shop</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-4">
  <p class="text-center"><a class="green btn btn-primary btn-lg" href="#" role="button">Get Started</a></p>
  <p class="border p-3 rounded-1">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatibus vitae pariatur ex blanditiis? Qui dolore voluptatibus sunt facere animi, facilis possimus, atque maiores earum in ullam vel debitis a!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatibus vitae pariatur ex blanditiis? Qui dolore voluptatibus sunt facere animi, facilis possimus, atque maiores earum in ullam vel debitis a!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatibus vitae pariatur ex blanditiis? Qui dolore voluptatibus sunt facere animi, facilis possimus, atque maiores earum in ullam vel debitis a!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatibus vitae pariatur ex blanditiis? Qui dolore voluptatibus sunt facere animi, facilis possimus, atque maiores earum in ullam vel debitis a!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatibus vitae pariatur ex blanditiis? Qui dolore voluptatibus sunt facere animi, facilis possimus, atque maiores earum in ullam vel debitis a!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde voluptatibus vitae pariatur ex blanditiis? Qui dolore voluptatibus sunt facere animi, facilis possimus, atque maiores earum in ullam vel debitis a!
  </p>
</div>
{% endblock %}