
{% extends "root.html" %}

{% block title %} Create a new Server {% endblock %}

{% block content %}
<section class="h-100">
	<div class="container h-100">
		<div class="row justify-content-sm-center h-100">
			<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
				<div class="text-center my-5">
					<img src="https://via.placeholder.com/125x50" alt="logo" width="100">
				</div>
				<div class="card shadow-lg blue">
					<div class="card-body p-5">
						<h1 class="fs-4 card text-center fw-bold mb-4 blue">Choose Tags</h1>
						<form method="POST" class="needs-validation" novalidate="" autocomplete="off">
							<!--form.hidden_tag()-->
						</form>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}