{% extends "root.html" %}

{% block title %} All Servers {% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<script>
window.addEventListener('DOMContentLoaded', (event) => {
  console.log("DOM Loaded");

  // loads all server names
  // get all the server names
  const serverNames = document.getElementsByClassName("server-names-text");
  console.log(serverNames.length);
  // get a reference to the data list
  const dl = document.getElementById("server-names-dl")
  // for loop over all the server names 
  for(let i = 0; i < serverNames.length; i++){
    const text = serverNames[i].innerText;
    const element = document.createElement("option");
    element.innerText = text;
    dl.appendChild(element);
  }

  document.getElementById("search-btn").addEventListener("click", function () {
    // Get reference to the text we are searching for 
    const searchText = document.getElementById("server-datalist").value;
    // Get reference to all elements that may or may not be deleted
    const serverList = document.getElementsByClassName("server-list");

    for(let i = 0; i < serverList.length; i++){
      // Get reference to each servers name
      const serverName = serverList[i].querySelector('#server-name').innerText;
      if (serverName.includes(searchText)){
        serverList[i].style.display = null;
      }else {
        serverList[i].style.display = "none";
      }
    }

  });

});
</script>

<h1>All Servers</h1>
<div class="input-group col-md">
  <input type="text" class="form-control" placeholder="Search Server Names" id="server-datalist" autocomplete="off" list="server-names-dl">
  <datalist id="server-names-dl">
  </datalist>
  <div class="input-group-append">
    <button id = "search-btn" class="btn btn-outline-secondary" type="button">Search</button>
  </div>
</div>
{% for server in servers %}
<div class="container-fluid">
  <div class="row server-list" style="margin-top: 50px;">
    <div class = "col-sm">
      <span class = "server-names-text" id = "server-name">{{server.name}}</span>
      <br>
      <span>Owner: User {{server.owner_id}}</span>
    </div>
    <div class = "col-sm">
      <span>{{server.description}}</span>
    </div>
    <div class = "col-sm">
      <span>localhost:{{server.port}}</span>
    </div>
    <div class="col-sm">
      <span><a href="{{url_for('show_server', server_id=server.id)}}">View</a></span>
    </div>
    <div class="col-sm">
      {% if current_user.id == server.owner_id %}
        <span><a href="{{url_for('delete_server', server_id=server.id)}}">Delete</a></span>
      {% endif %}
    </div>
    <!-- Don't show unless owner -->
  </div>
</div>
{% endfor %}
{% endblock %}

<!--<span><a href="{{url_for('show_server', server_id=server.id)}}">View</a></span> -->
<!-- Don't show unless owner -->
<!--<span><a href="{{url_for('delete_server', server_id=server.id)}}">Delete</a></span> -->