{% extends "root.html" %}

{% block title %} Update Server {% endblock %}

{% block content %}
<div>To select multiple tags, hold ctrl and click to select or deselect the tags you want.</div>
<form action="{{url_for('post_update_server', server_id=form.id.data)}}" method="post">
  {{ form.hidden_tag() }}
  {{ form.name.label }}
  {{ form.name() }}
  {{ form.description.label }}
  {{ form.description() }}
  {{ form.tags.label }}
  {{ form.tags(size=(form.tags.choices|length)) }}
  {{ form.submit() }}
</form>
<a href="/">
  <button class="btn btn-primary btn-lg">Home</button>
</a>
{% endblock %}