{% extends "root.html" %}

{% block title %} Account {% endblock %}

{% block head %}
<script src="/static/scripts/account.js"></script>
{% endblock %}

{% block content %}
<div class="d-none" id='email-form'>
  <form method="post" action="{{url_for('change_email')}}">
    {{ form.hidden_tag() }}
    {{ form.email.label }}
    {{ form.email() }}
    {{ form.submit() }}
  </form>
</div>

<div id="account">
  <p>{{user.username}}</p>
  <p>{{user.email}}</p>
  <button id="change-email" onclick="showEmailForm()">Change email</button>
  <a class="btn btn-danger" id="sign-out" href="{{url_for('get_log_out')}}">Sign out</a>
</div>

{% endblock %}