<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MC Server Hosting</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Minecraft Server Hosting</h1>
          <p>Description of website/service/etc. here.</p>
          <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-lg-6 col-xl-4">
            <h2>Events</h2>
            <div class="row">
                <h4>Event x:</h4>
                <p>Event Info</p>
            </div>
            <div class="row">
                <h4>Event y:</h4>
                <p>Event Info</p>
            </div>

            <!-- Not Implemented -->
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            
          </div>
          <div class="col-sm-12 col-lg-6 col-xl-4">
            <h2>Featured Servers</h2>
            <div class="row">
                <h4>Server 1:</h4>
                <p>Server Info</p>
            </div>
            <div class="row">
                <h4>Server 2:</h4>
                <p>Server Info</p>
            </div>

            <!-- Not Implemented -->
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>

          </div>
          <div class="col-sm-12 col-lg-6 col-xl-4">
            <h2>Your Server</h2>
            <p>Server Info:
                <ul>
                    <li>Server Status</li>
                    <li>Tick Rate</li>
                </ul>
            </p>

            <!-- Not Implemented -->
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>

          </div>
        </div>
</body>
</html>