{% extends "root.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
<div class="container">
  <h1 class="display-3">Minecraft Server Hosting</h1>
  <p>Description of website/service/etc. here.</p>
  <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
</div>
</div>

<div class="container-fluid">
<div class="row">
  <div class="col-sm-12 col-lg-6 col-xl-4">
    <h2>Events</h2>
    <div class="row">
        <h4>Event x:</h4>
        <p>Event Info</p>
    </div>
    <div class="row">
        <h4>Event y:</h4>
        <p>Event Info</p>
    </div>

    <!-- Not Implemented -->
    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    
  </div>
  <div class="col-sm-12 col-lg-6 col-xl-4">
    <h2>Featured Servers</h2>
    <div class="row">
        <h4>Server 1:</h4>
        <p>Server Info</p>
    </div>
    <div class="row">
        <h4>Server 2:</h4>
        <p>Server Info</p>
    </div>

    <!-- Not Implemented -->
    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>

  </div>
  <div class="col-sm-12 col-lg-6 col-xl-4">
    <h2>Your Server</h2>
    <p>Server Info:
        <ul>
            <li>Server Status</li>
            <li>Tick Rate</li>
        </ul>
    </p>

    <!-- Not Implemented -->
    <p><a class="btn btn-secondary" href="/server/" role="button">Show Servers &raquo;</a></p>

  </div>
</div>
{% endblock %}