{% extends "root.html" %}

{% block title %} Your Servers {% endblock %}

{% block head %}
<script src="scripts/scripts.js"></script>
{% endblock %}

{% block content %}
<form method="post" action="/server/">
  {{ form.hidden_tag() }}
  {{ form.name.label }}
  {{ form.name() }}
  {{ form.description.label }}
  {{ form.description() }}
  {{ form.tags.label }}
  {{ form.tags() }}
  {{ form.maxPlayers.label }}
  {{ form.maxPlayers() }}
  {{ form.submit() }}
  <!-- <a id="startServer" href="/start-server/">Create a Server</a> -->
</form>
{% endblock %}