{% extends "root.html" %}

{% block title %} Create a new Server {% endblock %}

{% block content %}
<form method="post" action="{{url_for('post_create_server')}}">
  {{ form.hidden_tag() }}
  {{ form.name.label }}
  {{ form.name() }}
  {{ form.description.label }}
  {{ form.description() }}
  {{ form.tags.label }}
  {{ form.tags(size=(form.tags.choices|length)) }}
  <!-- Server Properties -->
  {{ form.maxPlayers.label }}
  {{ form.maxPlayers() }}
  {{ form.gamemode.label }}
  {{ form.gamemode() }}
  {{ form.submit() }}
  <!-- <a id="startServer" href="/start-server/">Create a Server</a> -->
</form>
{% endblock %}