{% extends "root.html" %}

{% block title %} Sign up {% endblock %}

{% block content %}

<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10 col-md-8 col-lg-6">
            <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                            <h1>Register Now:</h1>
                            <form action="{{url_for('post_register')}}" method="post">
                                {# add CSRF Protection #}
                                {{ form.hidden_tag() }}

                                    {# add name field and label #}
                                    <!-- <div class="form-group col-sm-12 col-lg-6 col-xl-4">
                                        {{ form.username.label }}
                                        {{ form.username() }}
                                    </div> -->
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            {{ form.username.label }}
                                            {{ form.username() }}
                                        </div>
                                    </div>
                                    <!-- <div class="form-group col-sm-12 col-lg-6 col-xl-4">
                                        {{ form.email.label }}
                                        {{ form.email() }}
                                    </div> -->
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            {{ form.email.label }}
                                            {{ form.email() }}
                                        </div>
                                    </div>
                                    <!-- <div class="form-group col-sm-12 col-lg-6 col-xl-4">
                                        {{ form.confirm_email.label }}
                                        {{ form.confirm_email() }}
                                    </div> -->
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            {{ form.confirm_email.label }}
                                            {{ form.confirm_email() }}
                                        </div>
                                    </div>
                                    <!-- <div class="form-group col-sm-12 col-lg-6 col-xl-4">
                                        {{ form.password.label }}
                                        {{ form.password() }}
                                    </div> -->
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            {{ form.password.label }}
                                            {{ form.password() }}
                                        </div>
                                    </div>
                                    <!-- <div class="form-group col-sm-12 col-lg-6 col-xl-4">
                                        {{ form.confirm_password.label }}
                                        {{ form.confirm_password() }}
                                    </div> -->
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            {{ form.confirm_password.label }}
                                            {{ form.confirm_password() }}
                                        </div>
                                    </div>
                                {{ form.submit() }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}