{% extends "root.html" %}

{% block title %} Sign up {% endblock %}

{% block content %}
<h1>Enter Your Name</h1>
<form action="/register/" method="post">
    {# add CSRF Protection #}
    {{ form.hidden_tag() }}

    <div class="row mb-auto">
        {# add name field and label #}
        <div class="form-group col-sm-12 col-lg-6 col-xl-4">
            {{ form.username.label }}
            {{ form.username() }}
        </div>
        <div class="form-group col-sm-12 col-lg-6 col-xl-4">
            {{ form.email.label }}
            {{ form.email() }}
        </div>
        <div class="form-group col-sm-12 col-lg-6 col-xl-4">
            {{ form.confirm_email.label }}
            {{ form.confirm_email() }}
        </div>
        <div class="form-group col-sm-12 col-lg-6 col-xl-4">
            {{ form.password.label }}
            {{ form.password() }}
        </div>
        <div class="form-group col-sm-12 col-lg-6 col-xl-4">
            {{ form.confirm_password.label }}
            {{ form.confirm_password() }}
        </div>
        <!-- <div class="form-group col-sm-12 col-lg-6 col-xl-4">
            {#{ form.profile_picture.label }#}
            {#{ form.profile_picture() }#}
        </div>
        <div class="form-group col-sm-12 col-lg-6 col-xl-4">
            {#{ form.profile_text.label }#}
            {#{ form.profile_text() }#}
        </div> -->
    </div>
    {# add submit button #}
    {{ form.submit() }}
</form>
{% endblock %}