<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block seo %}
    <meta name="description" content="">
    <meta name="author" content="">
    {% endblock %}
    
    <title>{% block title %}MC Server Hosting{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    {% block head %} {% endblock %}
</head>

<body>
  {% include "flash.html" %}
  <nav>
    <div class="m-1 p-1">
      <a class='btn btn-secondary active' role="button" aria-pressed="true" href="/">Home</a>
      <a class='btn btn-secondary active' role="button" aria-pressed="true" href="/register/">Sign up</a>
      <a class='btn btn-secondary active' role="button" aria-pressed="true" href="/server/">Servers</a>
      <a class='btn btn-secondary active' role="button" aria-pressed="true" href="/server/create">Make a new Server</a>
      

      {% if session['logged-in'] %}
        <a class='btn btn-secondary active' role="button" aria-pressed="true" href="/account/">My Account</a>
        <a class='btn btn-secondary active' role="button" aria-pressed="true" href="/log-out/">Log Out</a>
      {% else %}
        <a class='btn btn-secondary active' role="button" aria-pressed="true" href="/login/">Login</a>
      {% endif %}
      
    </div>
  </nav>
  <div class="m-4">
  {% block content %} {% endblock %}
</body>

<footer>
    {% block footer %} {% endblock %}
</footer>
</div>