<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="scripts/scripts.js"></script>
  <script>
    //window.addEventListener('DOMContentLoaded', (event) => {
    //  const button = document.getElementById('startServer')
    //  button.addEventListener('click', () => {
    //    console.log("clicked the button")
    //    fetch('/start-server/')
    //  })
    //});
  </script>
  <title>Server</title>
</head>
<body>
  {% if not server %}
  <a id="startServer" href="/start-server/">Create a Server</a>
  {% else %}
  <p>server stats go here</p>
  {% endif %}
</body>
</html>