{% extends "root.html" %}

{% block title %} Your Servers {% endblock %}

{% block head %}
<script src="/static/scripts/scripts.js"></script>
{% endblock %}

{% block content %}
{% for server in servers %}
<div>
  <span>{{server.name}}</span>
  <!-- Should go to show the server, and on that page the terminal exists -->
  <span><a href="/terminal/{{server.id}}">Terminal</a></span>
  <span><a href="/server/{{server.id}}/delete">Delete</a></span>
</div>
{% endfor %}
<br>
<form method="post" action="/server/">
  {{ form.hidden_tag() }}
  {{ form.name.label }}
  {{ form.name() }}
  {{ form.description.label }}
  {{ form.description() }}
  {{ form.tags.label }}
  {{ form.tags() }}
  {{ form.maxPlayers.label }}
  {{ form.maxPlayers() }}
  {{ form.submit() }}
  <!-- <a id="startServer" href="/start-server/">Create a Server</a> -->
</form>
{% endblock %}