{% extends "root.html" %}

{% block title %} Terminal {% endblock %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/jquery.terminal/css/jquery.terminal.min.css" />
{% endblock %}

{% block content %}
<input id="docker-id" style="display:none" value="{{docker_id}}" hidden />
<script>
    let dockerId = document.getElementById('docker-id').value

    $('body').terminal(
        function (command) {
            return fetch(`/mc_command/?docker-id=${dockerId}&command=${encodeURIComponent(command)}`)
                .then((response) => response.json())
                .then((data) => {
                    return data.message;
                });
        }, {
        greetings: 'RCON MC Terminal'
    });
</script>
{% endblock %}