{% extends "root.html" %}

{% block title %} {{server.name}} {% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div>
  <h1>{{server.name}}</h1>
  <p>Description {{server.description}}</p>
  <div class='row text-center'>
    <a class="btn btn-danger editBtn">Edit</a>
  </div>
  <h3>Max Players: {{server.max_players}}</h3>
  <h3>Tags:</h3>
  {% for tag in server.tags %}
  <span>{{tag}}</span>
  {% endfor %}
  <a href="/">
    <button class="btn btn-primary btn-lg">Home</button>
  </a>
</div>
{% endblock %}